$main-color: #0058a2;

$bg-color: #f0f0f083;

$second-color: #e1bb00;

$second-second-color: #01ab5d;

$dark-text: #1b1d1f;

$light-text: #a9a8a8;

$light-icon: #adaeae;

$border-color: #f0f0f0b6;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: $bg-color;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  top: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

button {
  border: none;
  background: none;
  outline: none;
}

::placeholder {
  color: $light-text;
}

.nav-main {
  background-color: white;
  height: 60px;
  box-shadow: 0.5px 0.5px 0.5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-tag {
  margin: 0 30px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 30px;
  .text-disc {
    font-size: 20px;
    border: none;
    background: none;
    &:hover {
      color: $second-color;
    }
  }
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 3px 0;
}

.text-disc:hover > i {
  border: solid $second-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 3px 0;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    border: none;
    margin: 3px;
    background: none;
    color: $light-icon;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
}

.vr {
  border-left: 1px solid $light-text;
  height: 20px;
  width: 1px;
  margin: 0 10px;
}

.fa-linkedin {
  color: $main-color;
}

.search-div {
  display: flex;
  justify-content: center;
  input {
    height: 25px;
    width: 100%;
    padding: 0px;
    background: url("https://img.icons8.com/material-sharp/48/000000/search.png")
      center left 10px;
    background-repeat: no-repeat;
    background-size: 15px;
    outline: none;
    background-color: $bg-color;
    font-size: 16px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-weight: 100;
    color: $dark-text;
    padding: 5px 40px;
    &:focus {
      border: 1px solid $main-color;
    }
  }
  .srch-btn {
    opacity: 0;
  }
}

.tabs {
  border-top: 0.5px solid rgba(128, 128, 128, 0.315);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.315);
  background-color: $bg-color;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  .tab-button {
    width: 100px;
    height: 60px;
    margin: 30px;
    background: none;
    border: none;
    font-size: 16px;
    color: $light-text;
    font-weight: 500;
    padding: inherit;
    cursor: pointer;
  }
  .activeTab {
    color: $dark-text;
    border-bottom: 3px solid $main-color;
    border-radius: 3px;
  }
}

.user-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.wrapper-content {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 30px;
  overflow: hidden;
  top: 120px;
  position: fixed;
}

.wrapper-content .user-section,
.right-section {
  height: 65%;
  background-color: white;
}

.user-section {
  padding: 20px;
}

.user-img {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .image-user-left {
    border-radius: 50%;
    height: 80px;
    margin-bottom: 20px;
  }
  .user-name {
    font-weight: 700;
  }
  .company-name {
    color: $light-text;
    font-size: 14px;
    margin: 5px 0;
  }
}

.status {
  margin: -20px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.connections,
.views {
  height: 75px;
  border: 1px solid $border-color;
  width: 50%;
  display: flex;
  flex-direction: column;
  // padding: 5px;
  text-align: center;
  justify-content: center;
}

.nums {
  font-weight: 700;
}

.text {
  color: $light-text;
  font-size: 14px;
  margin: 5px 0;
}

.links {
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
  a {
    text-decoration: none;
    color: $light-text;
  }
}

.links {
  i {
    margin-right: 3px;
  }
}

.links > div {
  margin-top: 15px;
  color: $light-text;
}

.center-section-pseudo {
  height: 100vh;
  overflow-y: scroll;
  .create-post {
    background-color: white;
    padding: 0 20px;
    .create-options {
      height: 60px;
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      button {
        font-size: 16px;
        color: $dark-text;
        font-weight: 600;
        height: 100%;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.btn-active {
  border-bottom: 1px solid #3572a3;
}

.share-update {
  i {
    color: $main-color;
    margin-right: 2px;
  }
}

.uplaod-photo {
  i {
    color: $second-color;
    margin-right: 2px;
  }
}

.write-article {
  i {
    color: rgb(36, 212, 36);
    margin-right: 2px;
  }
}

.post-input {
  width: 100%;
  input {
    width: 100%;
    padding: 30px 1px;
    border: none;
    outline: none;
  }
}

.post-show {
  margin-top: 20px;
  .post-card {
    background-color: white;
    padding: 0px 30px;
    margin-bottom: 20px;
    .card-head {
      display: flex;
      padding: 20px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.5px solid #dadadae8;
      .user-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .nameandc {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          .post-name {
            color: $dark-text;
            font-weight: 600;
          }
          .post-company {
            color: $light-text;
            font-size: 12px;
          }
        }
      }
      .post-time {
        font-size: 12px;
        color: $light-text;
      }
    }
  }
}

.card-body {
  border-bottom: 0.5px solid #dadadae8;

  .card-text {
    padding: 20px 0;
    color: $light-text;
    font-size: 16px;
  }
  .card-img {
    padding: 10px;
    img {
      width: 100%;
    }
  }
}

.extra-pseudo {
  background-color: $bg-color;
  height: 200px;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.card-footer {
  padding: 20px;
  .reaction-panel {
    color: $light-text;
    font-size: 12px;
    button {
      color: $light-text;
    }
  }
}

.right-section {
  padding: 0 20px;
  .right-heading {
    display: flex;
    padding: 20px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #dadadae8;
    button {
      font-size: 16px;
      color: $dark-text;
      font-weight: 600;
      outline: none;
    }
  }
}

.user-details {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .nameandc {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    .post-name {
      color: $dark-text;
      font-weight: 600;
    }
    .post-company {
      color: $light-text;
      font-size: 12px;
    }
  }
}

.dropdown-bar {
  border-top: 1px solid $dark-text;
  z-index: 100000;
  position: relative;
  // width: 100%;
  height: 100vh;
  background-color: white;
  padding: 50px 80px;
  animation: fade-in 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  font-size: 16px;
}

.first-col li {
  list-style: none;
  margin: 20px;
  font-weight: 600;
  color: $dark-text;
  cursor: pointer;
}

.first-col {
  border-right: 1px solid $border-color;
  height: 200px;
}

.other-cols li {
  list-style: none;
  cursor: pointer;
}

.heading {
  list-style: none;
  margin: 20px;
  font-weight: 600;
  color: $dark-text;
  cursor: pointer;
}

.list-nav > li {
  margin: 10px 20px;
  color: $light-text;
  cursor: pointer;
  &:hover {
    color: #838383;
  }
}

@keyframes fade-in {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}

@media screen and (max-width: 800px) {
  .wrapper,
  .wrapper-content {
    overflow: scroll;
  }
  .wrapper-content {
    position: relative;
    top: 0;
    margin: 10px 10px 10px 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .nav-tag {
    margin: 0 20px;
    gap: 20px;
    .text-disc {
      font-size: 10px;
      border: none;
      background: none;
    }
  }
  .tabs {
    width: 100%;
    .tab-button {
      width: 50px;
      height: 30px;
      margin: 10px;
      border: none;
      font-size: 12px;
      color: $light-text;
      font-weight: 300;
    }
    .activeTab {
      color: $dark-text;
      border-bottom: 3px solid $main-color;
      border-radius: 3px;
    }
  }

  .nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button {
      border: none;
      margin: 2px;
      background: none;
    }
  }

  .search-div {
    justify-content: center;
    input {
      opacity: 0;
      width: 0;
      height: 15px;
      background: url("https://img.icons8.com/material-sharp/48/000000/search.png")
        center left 8px;
      background-repeat: no-repeat;
      background-size: 12px;
      outline: none;
      background-color: $bg-color;
      font-size: 14px;
      border: 1px solid $border-color;
      border-radius: 5px;
      font-weight: 100;
      color: $dark-text;
      padding: 3px 20px;
      &:focus {
        border: 1px solid $main-color;
      }
    }
    .srch-btn {
      left: -1;
      width: 30px;
      height: 30px;
      border-radius: 3px;
      opacity: 1;
      background: url("https://img.icons8.com/material-sharp/48/000000/search.png")
        center left 8px;
      background-repeat: no-repeat;
      background-size: 12px;
      outline: none;
      background-color: $bg-color;
    }
  }

  .user-section,
  .right-section {
    display: none;
  }

  .center-section {
    width: 100%;
  }

  .center-section-pseudo {
    height: 100vh;
    overflow-y: scroll;
    .create-post {
      background-color: white;
      padding: 0 10px;
      .create-options {
        height: 50px;
        border-bottom: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        button {
          font-size: 12px;
          color: $dark-text;
          font-weight: 600;
          height: 100%;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }

  card-body {
    border-bottom: 0.5px solid #dadadae8;
    .card-text {
      padding: 10px 0;
      color: $light-text;
      font-size: 12px;
    }
    .card-img {
      padding: 5px;
      img {
        width: 100%;
      }
    }
  }

  .post-show {
    margin-top: 10px;
    .post-card {
      padding: 0px 15px;
      margin-bottom: 10px;
      .card-head {
        padding: 10px;
        .user-details {
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;
          }
          .nameandc {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            .post-name {
              color: $dark-text;
              font-weight: 600;
            }
            .post-company {
              color: $light-text;
              font-size: 12px;
            }
          }
        }
        .post-time {
          font-size: 12px;
          color: $light-text;
        }
      }
    }
  }

  .dropdown-bar {
    display: block;
    overflow: scroll;
  }

  .dropdown-bar div:last-child {
    margin-bottom: 110px;
  }

  .first-col {
    margin-bottom: 110px;
    border-bottom: 1px solid $border-color;
    border-right: none;
  }
}
