@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #f0f0f083;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  top: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

button {
  border: none;
  background: none;
}

::-webkit-input-placeholder {
  color: #a9a8a8;
}

:-ms-input-placeholder {
  color: #a9a8a8;
}

::-ms-input-placeholder {
  color: #a9a8a8;
}

::placeholder {
  color: #a9a8a8;
}

.nav-main {
  background-color: white;
  height: 60px;
  -webkit-box-shadow: 0.5px 0.5px 0.5px black;
          box-shadow: 0.5px 0.5px 0.5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-tag {
  margin: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.nav-tag .text-disc {
  font-size: 20px;
  border: none;
  background: none;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 3px 0;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-icons button {
  border: none;
  margin: 3px;
  background: none;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vr {
  border-left: 1px solid #a9a8a8;
  height: 20px;
  width: 1px;
  margin: 0 10px;
}

.fa-linkedin {
  color: #0058a2;
}

.search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-div input {
  height: 25px;
  width: 100%;
  padding: 0px;
  background: url("https://img.icons8.com/material-sharp/48/000000/search.png") center left 10px;
  background-repeat: no-repeat;
  background-size: 15px;
  outline: none;
  background-color: #f0f0f083;
  font-size: 16px;
  border: 1px solid #f0f0f0b6;
  border-radius: 5px;
  font-weight: 100;
  color: #1b1d1f;
  padding: 5px 40px;
}

.search-div input:focus {
  border: 1px solid #0058a2;
}

.search-div .srch-btn {
  opacity: 0;
}

.tabs {
  border-top: 0.5px solid rgba(128, 128, 128, 0.315);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.315);
  background-color: #f0f0f083;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs .tab-button {
  width: 100px;
  height: 60px;
  margin: 30px;
  background: none;
  border: none;
  font-size: 16px;
  color: #a9a8a8;
  font-weight: 500;
  padding: inherit;
  cursor: pointer;
}

.tabs .activeTab {
  color: #1b1d1f;
  border-bottom: 3px solid #0058a2;
  border-radius: 3px;
}

.user-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.wrapper-content {
  margin: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  gap: 30px;
  overflow: hidden;
  top: 120px;
  position: fixed;
}

.wrapper-content .user-section,
.right-section {
  height: 65%;
  background-color: white;
}

.user-section {
  padding: 20px;
}

.user-img {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-img .image-user-left {
  border-radius: 50%;
  height: 80px;
  margin-bottom: 20px;
}

.user-img .user-name {
  font-weight: 700;
}

.user-img .company-name {
  color: #a9a8a8;
  font-size: 14px;
  margin: 5px 0;
}

.status {
  margin: -20px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connections,
.views {
  height: 75px;
  border: 1px solid #f0f0f0b6;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nums {
  font-weight: 700;
}

.text {
  color: #a9a8a8;
  font-size: 14px;
  margin: 5px 0;
}

.links {
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
}

.links a {
  text-decoration: none;
  color: #a9a8a8;
}

.links i {
  margin-right: 3px;
}

.links > div {
  margin-top: 15px;
  color: #a9a8a8;
}

.center-section-pseudo {
  height: 100vh;
  overflow-y: scroll;
}

.center-section-pseudo .create-post {
  background-color: white;
  padding: 0 20px;
}

.center-section-pseudo .create-post .create-options {
  height: 60px;
  border-bottom: 1px solid #f0f0f0b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center-section-pseudo .create-post .create-options button {
  font-size: 16px;
  color: #1b1d1f;
  font-weight: 600;
  height: 100%;
  outline: none;
  cursor: pointer;
}

.btn-active {
  border-bottom: 1px solid #3572a3;
}

.share-update i {
  color: #0058a2;
  margin-right: 2px;
}

.uplaod-photo i {
  color: #e1bb00;
  margin-right: 2px;
}

.write-article i {
  color: #24d424;
  margin-right: 2px;
}

.post-input {
  width: 100%;
}

.post-input input {
  width: 100%;
  padding: 30px 1px;
  border: none;
  outline: none;
}

.post-show {
  margin-top: 20px;
}

.post-show .post-card {
  background-color: white;
  padding: 0px 30px;
  margin-bottom: 20px;
}

.post-show .post-card .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #dadadae8;
}

.post-show .post-card .card-head .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-show .post-card .card-head .user-details img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-show .post-card .card-head .user-details .nameandc {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-show .post-card .card-head .user-details .nameandc .post-name {
  color: #1b1d1f;
  font-weight: 600;
}

.post-show .post-card .card-head .user-details .nameandc .post-company {
  color: #a9a8a8;
  font-size: 12px;
}

.post-show .post-card .card-head .post-time {
  font-size: 12px;
  color: #a9a8a8;
}

.card-body {
  border-bottom: 0.5px solid #dadadae8;
}

.card-body .card-text {
  padding: 20px 0;
  color: #a9a8a8;
  font-size: 16px;
}

.card-body .card-img {
  padding: 10px;
}

.card-body .card-img img {
  width: 100%;
}

.extra-pseudo {
  background-color: #f0f0f083;
  height: 200px;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.card-footer {
  padding: 20px;
}

.card-footer .reaction-panel {
  color: #a9a8a8;
  font-size: 12px;
}

.card-footer .reaction-panel button {
  color: #a9a8a8;
}

.right-section {
  padding: 0 20px;
}

.right-section .right-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #dadadae8;
}

.right-section .right-heading button {
  font-size: 16px;
  color: #1b1d1f;
  font-weight: 600;
  outline: none;
}

.user-details {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-details img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details .nameandc {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-details .nameandc .post-name {
  color: #1b1d1f;
  font-weight: 600;
}

.user-details .nameandc .post-company {
  color: #a9a8a8;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .wrapper,
  .wrapper-content {
    overflow: scroll;
  }
  .wrapper-content {
    position: relative;
    top: 0;
    margin: 10px 10px 10px 10px;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .nav-tag {
    margin: 0 20px;
    gap: 20px;
  }
  .nav-tag .text-disc {
    font-size: 10px;
    border: none;
    background: none;
  }
  .tabs {
    width: 360px;
  }
  .tabs .tab-button {
    width: 50px;
    height: 30px;
    margin: 10px;
    border: none;
    font-size: 12px;
    color: #a9a8a8;
    font-weight: 300;
  }
  .tabs .activeTab {
    color: #1b1d1f;
    border-bottom: 3px solid #0058a2;
    border-radius: 3px;
  }
  .nav-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-icons button {
    border: none;
    margin: 2px;
    background: none;
  }
  .search-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-div input {
    opacity: 0;
    width: 0;
    height: 15px;
    background: url("https://img.icons8.com/material-sharp/48/000000/search.png") center left 8px;
    background-repeat: no-repeat;
    background-size: 12px;
    outline: none;
    background-color: #f0f0f083;
    font-size: 14px;
    border: 1px solid #f0f0f0b6;
    border-radius: 5px;
    font-weight: 100;
    color: #1b1d1f;
    padding: 3px 20px;
  }
  .search-div input:focus {
    border: 1px solid #0058a2;
  }
  .search-div .srch-btn {
    left: -1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    opacity: 1;
    background: url("https://img.icons8.com/material-sharp/48/000000/search.png") center left 8px;
    background-repeat: no-repeat;
    background-size: 12px;
    outline: none;
    background-color: #f0f0f083;
  }
  .user-section,
  .right-section {
    display: none;
  }
  .center-section {
    width: 100%;
  }
  .center-section-pseudo {
    height: 100vh;
    overflow-y: scroll;
  }
  .center-section-pseudo .create-post {
    background-color: white;
    padding: 0 10px;
  }
  .center-section-pseudo .create-post .create-options {
    height: 50px;
    border-bottom: 1px solid #f0f0f0b6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .center-section-pseudo .create-post .create-options button {
    font-size: 12px;
    color: #1b1d1f;
    font-weight: 600;
    height: 100%;
    outline: none;
    cursor: pointer;
  }
  card-body {
    border-bottom: 0.5px solid #dadadae8;
  }
  card-body .card-text {
    padding: 10px 0;
    color: #a9a8a8;
    font-size: 12px;
  }
  card-body .card-img {
    padding: 5px;
  }
  card-body .card-img img {
    width: 100%;
  }
  .post-show {
    margin-top: 10px;
  }
  .post-show .post-card {
    padding: 0px 15px;
    margin-bottom: 10px;
  }
  .post-show .post-card .card-head {
    padding: 10px;
  }
  .post-show .post-card .card-head .user-details img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .post-show .post-card .card-head .user-details .nameandc {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-show .post-card .card-head .user-details .nameandc .post-name {
    color: #1b1d1f;
    font-weight: 600;
  }
  .post-show .post-card .card-head .user-details .nameandc .post-company {
    color: #a9a8a8;
    font-size: 12px;
  }
  .post-show .post-card .card-head .post-time {
    font-size: 12px;
    color: #a9a8a8;
  }
}
/*# sourceMappingURL=style.css.map */